*{
    box-sizing:border-box;
}

body {
    margin:0;
}

header {
    position: relative;
    top: 0;
}

.hero {
    background-image:url('/images/oregon6.jpg');
    background-size:cover;
    position: relative;
    height: 100vh;
    
}



.photo_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-auto-rows: 5rem;

}

.article {
}

.post-one  {
    background-image:url("/images/oregon2.jpg");
    height: 100vh;
    background-size:cover;
    background-repeat: none;
    background-position: center;
}

.post-two {
    background-image:url("/Explore-imgs/1478739739143.jpeg");
    background-size: cover;
    height: 100vh;
    width:auto;
    background-repeat: none;
    background-position: center;

}

.post-three {
    background-image:url("/Explore-imgs/Bacon.jpeg");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;

}

.post-four {
    background-image:url("/Explore-imgs/Burger.jpeg");
    height: 100vh;
    width:auto;
    background-size:cover;
    background-repeat: none;
}

.post-five {
    background-image:url("/Explore-imgs/Cake.jpeg");
    height: 100vh;
    width: auto;
    background-size:cover;
    background-repeat: none;    
} 

.post-six {
    background-image:url(""); 
    height: 100vh;
    width: auto;
    background-size:cover;
    background-repeat: none;
}


.post-seven {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-eight {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;

}

.post-nine {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-ten {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-eleven {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-tweleve {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-thirteen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}
.post-fourteen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-fifteen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;

}

.post-sixteen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-seventeen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-eighteen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-nineteen {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}

.post-twenty {
    background-image:url("");
    background-size: cover;
    background-repeat: none;
    height:100vh;
    width:auto;
    background-repeat: none;
    background-position: center;
}