*{
    box-sizing:border-box;
}

body {
    margin:0;
}

header {
    position: relative;
    top: 0;
}

.hero {
    background-image:url('/images/oregon6.jpg');
    background-size:cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    
}



.photo_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;

}

.post-one .article {
    background-image:url("/images/oregon2.jpg");
    margin: 0.1em;
    height: 38vh;
    width: 45vh;
    margin: 0.1em;
    position:relative;

}