/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  box-sizing: border-box;
}

html {
  margin:0;
  padding:0;
  border: 0;
  font-size:100%;
  display:block;

}

body {
  margin:0;
  /* padding: 5% 10%; */
  border: 0;
  /*background:black;*/
  font-family: "Roboto";
}

body::after {
  background:#202020;
  content:'';
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10000;
  visibility: visible;
  opacity: 1;
}

.main_content {
  display: block;
  height: 100%;
  box-shadow: -2px 2px 40px 0 rgba(194, 27, 27, 0.1);
  padding: 5% 10%;
}
/* Beginning of header */


#header {
  background-color: transparent;
  color: #fdd1d1;
  cursor: default;
  height: 3.25em;
  position: fixed;
  text-align: right;
  top: 1em;
  width: 100%;
  z-index: 1001;
  padding: 0 1.5em;
  margin:0;
}


#header > a {
    display:inline-block;
    margin: 0;
    padding:0;
    border:0;
}



#header .logo {
  display: inline-block;
  height: inherit;
  left: 1.5em;
  margin:0;
  padding:0;
  position: absolute;
  top:0;
}

#header .logo a {
  font-size: 1.25em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

#header .menu {
  display: none;
}


#header > a[href="#option-menu"]{
  text-decoration: none;
  background: white;
  border-radius: 100%;
  height: 2.5em;
  width:2.5em;
  line-height: 2.5em;
  text-align:center;
  position: relative;
  right: 5%;
  background: black;
  
}

.fa-bars::before {
  color: white;
  position: absolute;
  top: 12px;
  right:13px;

}

/* End of header */

/*main content */

section {
  display: block;
  margin:0;
  border:0;
  font-size: 100%;
}

/* Section One */
.bg-img {
    background-image: url("/images/backpack.jpg");
    box-shadow: -2px 2px 40px 0 rgba(255, 255, 255, 0.1);
    

}



#banner {
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    border-top: 0;
    background-attachment: fixed;
    

}


#banner::before {
  content:"";
  display: block;
  background-color: black;
  height: 100%;
  left:0;
  opacity:0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner .inner {

    position: relative;
    z-index: 2;
  


}

#banner h1 {
    font-size: 8em;
    line-height: 1.1;
    font-family: "Work Sans", cursive;
    color: white;
    top: 20px;
  }

  #banner button {
    position: absolute;
    top: 15rem;
    font-size: 1.5rem;
    transform: translate(-50%,-50%);
  }

/*Scroll Bar */

#banner .more {
  transition: height 0.2s ease;
  background-color: black;
  border: 0;
  bottom: 3em;
  color: rgba(255, 255, 255, 0.75);
  display: block;
  height: 3em;
  left: 50%;
  margin-left: -1.5em;
  position: absolute;
  text-indent: 3em;
  white-space: nowrap;
  width: 3em;
  z-index: 2;
  border-radius: 50%;
  text-decoration: none;
  
}



.fa-chevron-down:before {
  position: absolute;
  right: 34%;
  top: 36%;
  

}
/* End Of ScrollBar */





h2 {
    font-size: 2.5em;
    line-height: 1.1;
    font-family: "Lobster",cursive;
    color: white;
    text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);
    text-align: center;
    position: relative;
    bottom: 4px;
}


.post {
    align-items : center;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top:0;
    min-height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;

}

.post .more .current {
    background-color: rgba(255, 255, 255, 0.15);
    border: 0;
    bottom: -3em;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 3em;
    left: 50%;
    margin-left: -1.5em;
    overflow: hidden;
    position: absolute;
    text-indent: 3em;
    white-space: nowrap;
    width: 3em;
    z-index: 1;
    border-radius: 24%;
    text-decoration: none;

}



.box {
  background:rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
  padding: 4em;
  margin-bottom: 2em;
}



.post .box {
  margin: 0 auto;
  max-width: 70%;
  
}

article {
  border: 0;
  
}


/* Second Section */


#one .content {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-column-gap: 1em;
  justify-items: center;
}


.season_Spring {
  background-image:url("/images/Spring.png");
  background-position: bottom;
  background-repeat: no repeat;
  background-size: cover;
  box-shadow: -2px 2px 40px 0 rgba(194, 27, 27, 0.1);
  
  
  
}
 .weather {
  margin: 0.1em;
  height: 38vh;
  width: 45vh;
  margin: 0.1em;
  position:relative;
  
 }

.season_Summer {
  background-image:url("/images/Summer.jpg");
  background-position: bottom;
  background-repeat: no repeat;
  background-size: cover;
}


.season_Winter {
  background-image:url("/Explore-imgs/Winter\ 2.0.jpg");
  background-position: bottom;
  background-repeat: no repeat;
  background-size: cover;
}

.season_Fall {
  background-image:url("/Explore-imgs/Fall\ 1.0.jpg");
  background-position: bottom;
  background-repeat: no repeat;
  background-size: cover;

}


.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.overlay:hover {
  background:grey;
  transform:scale(1);
  opacity: 0.15;
  color: black;

}

/*End Of Second Section */

.bg-img2 {
  background-image:url("/images/oregon3.jpg");
}


/* Section Three */
.bg-img3 {
background-image:url("/images/calum-lewis-387612-unsplash.jpg");
background-size: cover;
background-position: center;
}

#three button {
  position: absolute;
   top: 52rem;
   font-size: 1.5rem;
}



p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: white;
}


#two h1 {
  font-size: 3em;
  color: white;
}



/* Beginning of Footer */

#footer  {
    padding: 6em 0 4em 0;
    
}

#footer .inner {
  margin: 0 auto;
  width: 90%;
}


.main-links {    
    display: flex;
    position:relative;
    justify-content: center;
    text-align: center;
    top:25px;

  }
  
.link_item  {
       
       font-weight: 700;
       font-size: 1em;
       padding: 15px;
       border: solid white 3px;
       border-radius: 50%;
       
    }

  .link_item a {
    color: white;
  }

  /* End Of Footer */

  /* Beginning Of Form */

label {
  color:white;
  display:block;
  margin: 0 0 1em 0;
}

form .field.half.first {
  margin-right: 3%;

}

form .field.half {
  display: inline-block;
  width: 48%;
  padding: 10px;
}

form .field {
  margin-bottom: 1.5em;
}

input[type="text"] {
  border-radius: 4px;
  border: solid white 1px;
  width:100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.2);
  

}

input[type="email"] {
  border-radius: 4px;
  padding: 10px;
  border: solid 1px;
  width:110%;    
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.2);
}

textarea  {
  padding: 0.75em 1em;
  width: 50%;
  border: solid 1px;
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  display: block;

}

#footer input[type="text"] {
  background: rgba (255, 255, 0.075);
  border-color: rgba(255 ,255, 255, 0.25);
}


/* End Of Form */



button {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.2);
  font-size: 1.25em;
}


/* Media Query */


@media (min-width: 320px) and (max-width: 767px) {
  #one .content {
    grid-template-columns: 1fr;

  }

.bg-img {
  background-attachment: scroll;
}

.post .box {
  max-width: 100%;
}

  .banner {
    background-attachment: scroll !important;
  }

  .post {
    background-attachment: scroll !important;
  
  }

  #banner {
    min-height: 50vh;
  }

.main_content {
  padding: 0;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .main_content {
    padding: 5% 10%;
  }
 
  #one .content {
    grid-template-columns: 1fr 1fr;
    
  }
}

@media (min-width: 1280px) {
  #one .content {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5em
  }
  
}
