*{
  box-sizing: border-box;
}

html {
  margin:0;
  padding:0;
  border: 0;
  font-size:100%;
  display:block;

}

body {
  margin:0;
  padding:0;
  border: 0;
  background:black;

}

#header {
  background-color: transparent;
  color: #fdd1d1;
  cursor: default;
  height: 3.25em;
  position: fixed;
  text-align: right;
  top: 1em;
  width: 100%;
  z-index: 1001;
  padding: 0 1.5em;
  margin:0;
}


#header > a {
    display:inline-block;
    margin: 0;
    padding:0;
    border:0;
}



#header .logo {
  display: inline-block;
  height: inherit;
  left: 1.5em;
  margin:0;
  padding:0;
  position: absolute;
  top:0;
}

#header .logo a {
  font-size: 1.25em;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

#header .menu {
  display: none;
}


#header > a[href="#option-menu"]{
  text-decoration: none;
  background: white;
  border-radius: 100%;
  height: 2.5em;
  width:2.5em;
  line-height: 2.5em;
  text-align:center;
  position: relative;
  right: 5%;
  
}


#header > a[href="#option-menu"]::before {
  content:'';
  font-style:normal;
  font-weight:normal;
  text-transform: none !important;
  margin:0;
 -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

section {
  display: block;
}


.bg-img {
    background-image: url("/images/oregon6.jpg");
  
}

section {
  margin:0;
  border:0;
  vertical-align: baseline;
  font-size: 100%;
}

#banner {
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    border-top: 0;
    background-attachment: fixed;
    

}


#banner::before {
  content:"";
  display: block;
  background-color:#000;
  transition: opacity 4s ease;
  transition-delay: 1.25s;
  height: 100%;
  left:0;
  opacity:0.30;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#banner .inner {
    transform:scale(1.0);
    transition: opacity 1s ease, transform 1s ease;
    opacity:1;
    position: relative;
    z-index: 2;

}

#banner h1 {
    font-size: 4em;
    line-height: 1.1;
    font-family: "Lobster", cursive;
    color: white;
    top: 20px;
    
}

#banner .more {
    transition: height 0.2s ease;
    animation: more 0.75s ease-out 2s forwards;
    background-color: rgba(255, 255, 255, 0.15);
    
}




 h2 {
    font-size: 2.5em;
    line-height: 1.1;
    font-family: "Lobster",cursive;
    color: white;
    text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.125);

}

#one p {
    color:black;
    margin-right:20px;

}


.bg-img1 {
  background-image:url("/images/Forest.jpg");
    
}

.post {
    align-items : center;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top:0;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    text-align: center;
    overflow: hidden;

}

.post .more::before {
    content:"";
    display: block;
    background-color:#0000;
    opacity: 0.45; 
    height: 100%;
    left:0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

}

.box {
  background:rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
  padding: 4em;
}



.post .box {
    margin: 0;
  
}

article {
  border: 0;
  
}



.bg-img2 {
    background-image:url("/images/oregon3.jpg");
}


.bg-img3 {
background-image:url("/images/oregon4.jpg");
}



p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.main-links {    
  display: flex;
  position: absolute;
  z-index: 1;
  
  
}
  

.link_item  {

  font-weight: 700;
  font-size: 1.5em;
  color: #A7E7D9;
  padding: 15px;
     
  }



#footer .inner {
  margin: 0 auto;
  background:skyblue;
}


#two h1 {
  font-size: 3em;
  color: white;
}


form .field.half.first {
  margin-right: 3%;

}

form .field.half {
  display: inline-block;
  width: 48%;
}

.main-links {    
  display: flex;
  position:relative;
  text-align: center;
}

.link_item  {
     
     font-weight: 700;
     font-size: 1em;
     padding: 15px;
     color: #A7E7D9;
     
   
  }


  #footer  {
    background-color:skyblue;
}

