* {
    padding: 0;
    margin:0;

}

nav {
    width: 100%;
    background:grey;
    
}

nav ul {
    width: 50%;
    margin: 0 auto;
    padding:0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    
    
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    position: relative;
}

nav a:hover{
    background: red;
}

nav a::before {
    content: '';
    display: block;
}


.toggle {
    width: 100%;
    padding: 10px 20px;
    background:#001f44;
    text-align:right;
    box-sizing:border-box;
    color:#fff;
    font-size: 30px;
    display: none;
}

@media (max-width:500px)
{.toggle {
    display: block;
    }

ul {
    width: 100%;
}

nav ul li {
    display: block;
    text-align: center;
}
}