* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'roboto', "Poppins", sans-serif;
    width: 100%;
    background-color:#ffd5c0;
    
}

.background-image {
    background-image: url('/images/pexels-photo-693857.jpeg');
    background-size: contain;
    visibility: visible;
    height: 100vh;
    width: 100%;
    left:0;
    top:0;
    display: block;
    background-repeat: no-repeat;
    opacity:1;
    position: fixed;
    z-index: -1;
    background-blend-mode: darken;
}

/* body::after {
    background-image: url('/images/pexels-photo-693857.jpeg');
    content:'';
    background-size: contain;
    visibility: visible;
    height: 100vh;
    width: 100%;
    left:0;
    top:0;
    display: block;
    background-repeat: no-repeat;
    opacity:1;
    position: fixed;
    z-index: -1;
    background-blend-mode: darken;
} */


.container {
    width: 100%;
    height: auto;
    position: relative;
    
}

header {
    height: 25vh;


}

header h1 {
    text-align:center;
    background-color:white;
    background-color: transparent;

}


nav {
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

 }

nav ul {
    
    margin: 0;
    padding:0;
    display:flex;
    
}

ul:hover {
    opacity: 0.5;
}

ul li {
    list-style: none;
    display: flex;
    padding: 20px;
    position:relative;
    bottom: 10px;
    
    
}

nav a {
    list-style: none;
    text-decoration: none;
    color: white;


}

nav a:hover {
    background: red;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    position: absolute;
    background: black;
    top: 10px;
    transition: all 250ms;
}  

 nav a:hover::before {
    width:50%;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background:rgb(213, 214, 216);
    text-align:right;
    box-sizing:border-box;
    color:#fff;
    font-size: 30px;
    display: none;
}

@media (max-width:519px)
{.toggle {
    display: block;
    }

ul {
    width: 100%;
}

nav ul li {
    display: inline-block;
    text-align: center;
}
}

section {
    width: 100%;
}



.Attractions {
    height: 50vh;
    position:relative;
    left:35%;
    bottom:75px;
    opacity: 0.95;
    margin: 0;
    font-size: 100%;
    font: inherit;
    text-align: center;


}


.copyright {
    padding-right: 30px;
    position: relative;
    top: 10px;
}

.link_item a {
    padding-right: 30px;
    font-size:30px;
    color: whitesmoke;

    
    
}
 

footer {
     display: flex;
     color: whitesmoke;
     opacity: 1;
     position:bottom;


}

.Fun-Facts {
    height: 50vh;
    width: 25vw;
    background-blend-mode: screen;
    margin: 0;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 100px;


}
