
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background : grey;
}

header::after {
    content: '';
    display: table;
    
}

nav {
    width: 100%;
    position: relative;
    
}

nav ul {
    width: 50%;
    margin: 0;
    padding:0;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: white;

}

nav a:hover{
    background: red;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    position: absolute;
    background: #001f44;
    top: 0px;
    transition: all 250ms;
}  

 nav a:hover::before{
    width:100%;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background:#001f44;
    text-align:right;
    box-sizing:border-box;
    color:#fff;
    font-size: 30px;
    display: none;
}

@media (max-width:519px)
{.toggle {
    display: block;
    }

ul {
    width: 100%;
}

nav ul li {
    display: block;
    text-align: center;
}
}